# PlatformIO
**/.pio/
**/.vscode/

# Python
**/.venv/
**/__pycache__/
**/*.pyc
.ipynb_checkpoints/

# Data and outputs
data/
figures/
**/*.csv
**/*.npy
**/*.png
**/*.jpg
**/*.jpeg
**/*.svg
**/*.pdf
**/*.mp4
**/*.mov

